<html>

<head>
  <title> Shreeda </title>
  {{ partial "style.html" . }}
</head>

<body>

  <div id=main>
    <div id=left>
      <h1> SHREEDA SEGAN </h1>
      <div class=left-column>

         <figure> 
        <img src="/photos/square-book.jpg">
        <figcaption> me, etc. </figcaption>
        </figure>


        <h2> Writer </h2>
        <big> Meridian Mag, Mercury </big>

        <p>  I’ve been writing online since 20XX – this site is to all the words I’ve written about design, creative work, communities, and the life I live in between. </p>

        <p>  When I am introduced at social gatherings, the host or hostess usually says: "Hi, I want you to meet Philip Yaffe. He is a professional writer." I almost always get the same response: "Oh, really. What type of novels do you write?" In other words, people automatically associate the term "writer" with "literature," as if fiction were the only type of writing. It isn't. And for most ordinary people, such as myself, it is the least important, yet it always seems to take pride of place. </p> 

        <ol>
          <li> <a href="https://meridian.mercury.com/tim-beiko">Tim Beiko</a> </li>
          <li> <a href="https://shreeda.substack.com/p/internet-writer-workflows"> Internet Writer Workflows</a>
          <li> <a href="https://meridian.mercury.com/how-jonathan-hillis-cabin-became-a-dao">How Jonathan Hillis' Cabin
              Became a DAO</a> </li>
          <li> <a href="https://meridian.mercury.com/dao-incorporation"> DAO Incorporation </a> </li>
          <li> <a href="https://meridian.mercury.com/brian-flynn">Brian Flynn</a> </li>
          <li> <a href="https://shreeda.substack.com/p/a-new-old-pattern-language ">A New Old Pattern Language</a> </li>
        </ol>

        <h2> BDFs3 </h2>
        <a href="https://yakcollective.org"> yakcollective.org </a>

        <p> Benevolent Dictator for Season 3 for the Governance Studies group. </p>

        <div class=quote> The Yak Collective is an online space for collaborative tinkering. Here you can find an eclectic group of people working together on technology, research, writing, and art projects, and occasionally trying to make money together as well. </div>

        <h2> On The Internet </h2>
        <table>
          <tr>
            <td> Twitter: <a href=""> @freeshreeda </a> </td>
          </tr>
          <tr>
            <td> Farcaster: <a href=""> @shreeda </a> </td>
          </tr>
          <tr>
            <td> LinkedIn: <a href=""> @shreeda </a> </td>
          </tr>
          <tr>
            <td> Email: <b> shreedashreeda </b> [at] gmail [dot] com </td>
        </table>

        <div class=rounded> THE INTERNET IS MESSY AF, DAWG </div>


      </div>
    </div>

    <div id=right>

      <div class=right-column>

        <p> <i> whole earth catalog, field notes, journal, writerly, typewriter, modern, newspaper, editorial,
            minimalist-ish, earth, neutral, and jewel tones… christopher alexander. </i></p>

        <h2> Things I Love </h2>

        <div class=quote>I feel most free, most inspired, when on the country roads. Or perhaps when the vehicle takes
          the shape of my body itself, as I scale the mountain, with my canine companion in close but free proximity.
          <br> <br> I notice that in these instances I am most empowered to reach for a future that feels truly
          worthwhile. I can swallow the hard truths of a sociopathic necessity that working for a worthwhile future may
          entail; I can appreciate how deep my affections for my budding lover run, as there is a decompression in my
          chest that leads to newly opened cavities of affectation. <br> <br> I am in love with this sunlight as it cuts
          through the lightness of open and yet to be plowed fields. </div>


        <h4> Music </h4>
        <p> {{ $.Site.Data.music.blurb }} </p>
        <ol>
          {{ range $.Site.Data.music.artists }}
          <li> <a href="{{ .url }}">{{ .name }}</a>: {{ .about }} </li> 
          {{ end }}      
        </ol>

        <h4> Movies </h4>
        <p> {{ $.Site.Data.movies.blurb }} </p>
        <ol>
          {{ range $.Site.Data.movies.movies }}
          <li> <a href="{{ .url }}">{{ .name }}</a>: {{ .about }} </li> 
          {{ end }}      
        </ol>

      </div>

      <div class=right-column>
      <figure> <img src=/photos/wide.jpg> <figcaption> Me lifting heavy ass weights </figcaption> </figure>
        <p style="margin-bottom: -20px;"> Beginning: <b style="font-family: Windsor;"> XXth Month, 2021 (?) </b></p>
        <h4> Powerlifting </h4>

        <p> Started out at Starting Strength (Austin), currently at . </p>

        <table class=two-col>
          <thead>
            <th> Lift </th>
            <th> Numbers </th>
          </thead>
          <tr>
            <td> Bench </td>
            <td> 5x1 x 137.5lbs </td>
          </tr>
          <tr>
            <td> Shoulder press </td>
            <td> 5x1 x 100lbs </td>
          </tr>
          <tr>
            <td> Squat </td>
            <td> 5x1 x 225lbs </td>
          </tr>
          <tr>
            <td> Deadlift </td>
            <td> 1x1 x 295lbs </td>
          </tr>


        </table>

        <p> Maybe write a long-ish paragraph about your philosophy of lifting, why you like it, what your goals are,
          etc.

        <p> 
          <i> “The Iron is the best antidepressant I have ever found. There is no better way to fight weakness than with strength. Once the mind and body have been awakened to their true potential, it’s impossible to turn back. The Iron never lies to you. You can walk outside and listen to all kinds of talk, get told that you’re a god or a total bastard. The Iron will always kick you the real deal.” </i>  
          <br> <br> 
            ––– <a href='https://www.oldtimestrongman.com/articles/the-iron-by-henry-rollins/'> Henry Rollins </a>
        </p>

        <h4> Pottery </h4>

        <p> Click to scroll through some of my favourite pieces below, and see the rest of my work <a href=''> here </a>
        </p>

        <figure> <img id=pottery src="/photos/pottery/shreeda.jpg">
          <figcaption id="pottery-caption"> Caption about the piece above, will change to match the picture as the user clicks. </figcaption>
        </figure>

        <br><br>


      </div>

      <div class=big-picture>
        <div style="margin-top: -30px; margin-bottom: 10px; padding: 0px 10px; background: #F6ECE1; width: fit-content">
          <i> Bookshelf/reading </i> </div>
        <div class=shelf>

         {{ range $.Site.Data.books.firstshelf }}

         <div class=book><a href="{{ .link }}"> <img src="/photos/bookshelf/{{ .img }}"> </a></div>

         {{ end }}

        </div>
        <div class=shelf>
          {{ range $.Site.Data.books.secondshelf }}

         <div class=book><a href="{{ .link }}"> <img src="/photos/bookshelf/{{ .img }}"> </a></div>

         {{ end }}
        </div>
        <p> My primary research interests are. Mix of fiction and non-fiction. Scroll through some of my favourite books above. </p>
        <p> If you have recommendations, <a href=''>reach out. </a> </p>
      </div>

    </div>
    <!-- <marquee loop="100" scrollamount="10" style="font-size: 24px;"> 
      <div style="margin-left: -50%;"> 
      WRITING ––– WRITING ––– WRITING ––– WRITING ––– WRITING ––– WRITING ––– WRITING
      ––– WRITING ––– WRITING ––– WRITING ––– WRITING ––– WRITING ––– WRITING </div> 
    </marquee> -->
    <div id=holder>

      <div class=small-box>
        <img src=/photos/tim.jpg>
        <h3> <a href="https://shreeda.substack.com/p/internet-writer-workflows"> Tim Beiko on Ethereum's moonshot </a>
        </h3>
        <p> Despite the events of the past year, Tim Beiko still believes in seeing Ethereum to its ultimate form: a
          protocol for human coordination. </p>
      </div>

      <div class=small-box>
        <img src=/photos/johnathan.jpg>
        <h3><a href="https://meridian.mercury.com/how-jonathan-hillis-cabin-became-a-dao"> How Jonathan Hillis’ cabin became a DAO </a></h3>
        <p> He left Instacart with an unclear vision. What came next — a decentralized city for creators, by creators —
          has proved an experimental success. </p>
      </div>

      <div class=small-box>
        <img src=/photos/pattern-lang.jpg>
        <h3> <a href='https://shreeda.substack.com/p/stop-telling-yourself-stories-start'> A New Old Pattern Language
          </a> </h3>
        <p> By adapting Christopher Alexander’s existing scheme to the new challenges of a post-Covid world, we can
          build A New Old Pattern Language. </p>
      </div>

      <!-- <img src="box.jpg"> -->
    </div>

    <div style="width: 100%">

      <table class=wide>
        <thead>
          <th> TOPIC </th>
          <th> MY NOTES </th>
          <th> RESOURCES </th>
        </thead>

        {{ range $name, $taxonomy := .Site.Taxonomies.tags }}

        <tr>
          <td> <big> {{ with $.Site.GetPage (printf "/tags/%s" $name) }} 
                        {{ .Title }}  {{ end }} 
               </big> </td>
          <td>  
             <ul style="padding: 0px; padding-top: 0.5em; margin-block-end: 0px;"> 
                 {{ range $.Site.Pages }} {{ if in .Params.tags $name }} 
                 <li>
                          <a href="{{ .Permalink }}"> {{ .Title }} </a> {{ end }} 
                </li>
                {{ end }}
              </ul>
          </td>
          <td>  
            {{ range (index $.Site.Data.resources $name) }} 
                    <span style="font-size: 1.2em;">[<a style="text-decoration-style:solid;" href="{{ .url }}">{{ .title }}</a>] </span>
                {{ end}}
          </td>
        </tr>
      {{ end }}

      </table>

      <div id=blogroll>
        <h3> Blogroll </h3>
        <ul>
          {{ range $.Site.Data.blogroll.blogs }}
          <li><a style="font-weight:400" href="{{ .url }}"> {{ .title }} </a> </li>
          {{ end }}
        </ul>
      </div>

    </div>

    <div id=middle>
     
      <p>  
      Whenever someone asks me for coffee/chat/advice I normally end up saying random useless nonsense in the moment but then emailing a couple of days later saying "Actually, this book/quote/link might be useful for that thing you were wondering about."

      <img style="width: 200px; float: left; margin:10px 15px" src="/photos/page.jpg">

       I have a large collection of that stuff, scattered across this blog, various google docs, Pinboard and Readwise. It's a sort of distributed commonplace book.
      <br> <br>

      I've recently wondered whether I could just dispense with the coffee stuff and share the whole collection in some useful way. And I've been wondering how to get it all together. I tried Scrivener, so it could be a book and Roam, so it could be networked and modern and Obsidian, so it could look like a spaceship. But none of them seemed to stick. 

      <img style="width: 200px; float: right; margin:10px 15px " src="/photos/rectangle-book.jpg">
      <br> <br>
      
      Small libraries, poetic collections and indie archives are magical things. You stumble across some personal archive or collection and it feels like a treasure trove. But publishing stuff to the web in the format of a collection, library or archive is still kind of hard? I wrote up a post about why this matters here:
      <br> <br>
      
     
      → The Magic of Small Databases: Notes on personal libraries, collections and small indexes on the web There's a ton of options here but STILL none of them satisfy me. 
      </p>

    </div>

  </div>

  <footer>
    <span> Built with <a href=""> Hugo</a>. </span>
    <span> Typeset in <a href=""> Windsor</a>, <a href=""> Univers</a> and <a href=""> Fruances</a>. </span>
    <span> Designed by <a href=""> Judah</a>.</span>
  </footer>

  <script> 

    function $(id){
      return document.getElementById(id)
    }

    let pictureArray = []
    let captionArray = []

    {{ range $.Site.Data.pottery.pictures }}
      pictureArray.push( {{ .link }} )
    {{ end }}

    {{ range $.Site.Data.pottery.pictures }}
      captionArray.push( {{ .caption }} )
    {{ end }}

    let current = 0

    $("pottery").addEventListener("click", next)

    function next(){
      let path = "/photos/pottery/"
      $("pottery").src = path + pictureArray[current%pictureArray.length]
      $("pottery-caption").innerText = captionArray[current%captionArray.length] 
      current += 1
    }

  </script>
</body>

</html>