<html>
<head>
<title> gapat </title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>

<h1> <a href="/" style="color: red"> gapat.io </a></h1>

{{ partial "nav.html" . }}

<p class=quote> <i>
I must create a system, or be enslaved by another man's.  <br>
I will not reason and compare: <b>my business is to create</b>.</i></p>

<p><a href="http://www.93beast.fea.st.user.fm/files/section2/blake/extras/Jerusalem.pdf">Willaim Blake</a></p>


</body>
</html>